<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepapp.SleepTracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="com.sleepapp.SleepTracker.MyApplication"
        >

        <activity android:name="com.sleepapp.SleepTracker.base.BaseActivity" />
        <activity android:name="com.sleepapp.SleepTracker.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.sleepapp.SleepTracker.app.account.Login"
            android:label="用户登录">
        </activity>

        <activity android:name="com.sleepapp.SleepTracker.app.account.User"
            android:label="个人中心">
        </activity>

        <activity android:name="com.sleepapp.SleepTracker.app.account.Register"
            android:label="用户注册">
        </activity>

        <activity android:name="com.sleepapp.SleepTracker.app.account.Resetpwd"
            android:label="密码修改">
        </activity>

        <activity android:name="com.sleepapp.SleepTracker.app.alarm.AlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sleepapp.SleepTracker.app.alarm.SecondActivity"></activity>
        <activity android:name="com.sleepapp.SleepTracker.app.alarm.ThirdActivity"></activity>

    </application>



</manifest>